*{
    margin: 0;
    padding: 0;
}
#map {
    height: 80%;
    width: 70%;
    border-radius: 20px;
    top: 5%;
    left: 2%;
}
html,
body{
    height: 100%;
}
.header{
    width: 100%;
    height: 10vh;
    background-color: black;
}
.header img{
    width: auto;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(50%, 50%);
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
}
.list-container{
    width: 20%;
    height: 80%;
    background-color: red;
    margin-top: 2.5%;
    margin-left: 5%;
    border-radius: 20px;
}